
@media screen and (max-width: 1454px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px;
        gap: 40px;
    }

    .content-text {
        order: 1;
        margin-left: 50px;
    }

    .burger-image {
        order: 2;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .content-text h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        margin-left: 80px;
    }

    .content-text h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .buttons {
        gap: 20px;
    }

    .buttons button {
        font-size: 15px;
    }
}

@media screen and (max-width: 934px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px;
        gap: 40px;
    }

    .content-text {
        order: 1;
        margin-left: 50px;
    }

    .burger-image {
        order: 2;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .content-text h1 {
        font-size: 2.2rem;
        margin-bottom: 10px;
        margin-left: 80px;
    }

    .content-text h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .buttons {
        gap: 20px;
    }

    .buttons button {
        font-size: 15px;
    }
}

@media screen and (max-width: 854px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px;
        gap: 40px;
    }

    .content-text {
        order: 1;
        margin-left: 50px;
    }

    .burger-image {
        order: 2;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .content-text h1 {
        font-size: 2rem;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .content-text h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .buttons {
        gap: 20px;
    }

    .buttons button {
        font-size: 15px;
    }
}

@media screen and (max-width: 766px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px;
        gap: 40px;
    }

    .content-text {
        order: 1;
        margin-left: 30px;
    }

    .burger-image {
        order: 2;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .content-text h1 {
        font-size: 2rem;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .content-text h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .buttons {
        gap: 20px;
    }

    .buttons button {
        font-size: 15px;
    }
}

@media screen and (max-width: 747px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px;
        gap: 40px;
    }

    .content-text {
        order: 1;
        margin-left: 10px;
    }

    .burger-image {
        order: 2;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .content-text h1 {
        font-size: 2rem;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .content-text h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .buttons {
        gap: 20px;
    }

    .buttons button {
        font-size: 15px;
    }
}

@media screen and (max-width: 727px) {
    .main-content {
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .burger-image {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .burger-image img {
        width: 100%;
        height: auto;
    }

    .content-text {
        order: 2;
        text-align: center;
        margin: 0 auto;
        padding: 10px 20px;
    }

    .content-text h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .content-text h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .buttons {
        gap: 15px;
    }

    .buttons button {
        font-size: 14px;
    }
}

@media screen and (min-width: 1455px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
        gap: 30px;
    }

    .burger-image {
        width: 50%;
    }

    .content-text {
        width: 50%;
        margin-left: 0;
    }

    .content-text h1 {
        font-size: 3rem;
        margin-left: 150px;
    }

    .content-text h2 {
        font-size: 2.5rem;
    }

    .buttons button {
        font-size: 22px;
    }
}
@media (max-width: 959px) {
    .menu-item {
        width: 100%; 
    }

    .image5 img {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .menu-section h1 {
        font-size: 28px;
    }

    .menu-row {
        gap: 10px;
    }

    .body-container {
        justify-content: center;
    }
}
@media (max-width: 829px) {
    .menu-row {
        gap: 20px; 
    }

    .menu-item {
        width: 45%; 
        margin-bottom: 20px; 
    }

    .menu-item img {
        width: 100%;
    }

    .image5 img {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 1390px) {
    .contact-form {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #0becca;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    
    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .form-group {
        flex: 1;
        /* Equal width */
        margin-right: 15px;
    }
    
    .form-group:last-child {
        margin-right: 0;
        
    }
    
    .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #000000;
    
    }
    
    .form-input,
    .form-select,
    .form-textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .form-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #ffffff;
    }
    
    .form-textarea {
        resize: vertical;
        height: 150px;
    }
    
    .form-button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .form-button:hover {
        background-color: #218838;
    }
    
    .Contact-h1 {
        color: rgb(4, 92, 23);
        text-align: center;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
    
}
@media (max-width: 748px) {
    .contact-form {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #0becca;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    
    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .form-group {
        flex: 1;
        /* Equal width */
        margin-right: 15px;
    }
    
    .form-group:last-child {
        margin-right: 0;
        
    }
    
    .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #000000;
    
    }
    
    .form-input,
    .form-select,
    .form-textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .form-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #ffffff;
    }
    
    .form-textarea {
        resize: vertical;
        height: 150px;
    }
    
    .form-button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .form-button:hover {
        background-color: #218838;
    }
    
    .Contact-h1 {
        color: rgb(4, 92, 23);
        text-align: center;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
    
}
@media (max-width: 442px) {
    .contact-form {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #0becca;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    
    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .form-group {
        flex: 1;
        /* Equal width */
        margin-right: 15px;
    }
    
    .form-group:last-child {
        margin-right: 0;
        
    }
    
    .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #000000;
    
    }
    
    .form-input,
    .form-select,
    .form-textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .form-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #ffffff;
    }
    
    .form-textarea {
        resize: vertical;
        height: 150px;
    }
    
    .form-button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .form-button:hover {
        background-color: #218838;
    }
    
    .Contact-h1 {
        color: rgb(4, 92, 23);
        text-align: center;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
    
}
